<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bar_name }} - Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="menu-container">
        <h1>{{ bar_name }}</h1>
<!------- inserire qui tab per selezione tipologia bevanda/cibo ----------->
        {% for category in categories %}
            {% if category.drinks %}
            <div class="menu-category">
                <h2>{{ category.title }}</h2>
                <ul>
                    {% for drink in category.drinks %}
                    <li>
                        <span class="drink-name">{{ drink.name }}</span>
                        <span class="drink-price">{{ drink.price|euro }} €</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>