<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bar_name }} - Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="menu-container">
        <h1>{{ bar_name }}</h1>
<!------- inserire qui tab per selezione tipologia bevanda/cibo ----------->
        {% if cocktails %}
        <div class="menu-category">
            <h2>Cocktails</h2>
            <ul>
                {% for drink in cocktails %}
                <li>
                    <span class="drink-name">{{ drink.name }}</span>
                    <span class="drink-price">{{ drink.price }} €</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if birre %}
        <div class="menu-category">
            <h2>Birre</h2>
            <ul>
                {% for drink in birre %}
                <li>
                    <span class="drink-name">{{ drink.name }}</span>
                    <span class="drink-price">{{ drink.price }} €</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if analcolici %}
        <div class="menu-category">
            <h2>Analcolici</h2>
            <ul>
                {% for drink in analcolici %}
                <li>
                    <span class="drink-name">{{ drink.name }}</span>
                    <span class="drink-price">{{ drink.price }} €</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>